[user]
	name = Srivatsan Raghavan
	email = machinshin@gmail.com
[color]
    diff=auto
    status=auto
    branch=auto
    interactive=auto
    ui=auto
[alias]
    up=pull origin
    st=status
    df=diff
    d = difftool
    co=checkout
    br=branch
    sta=stash
    l = log --no-merges
    # not a fan of random merges
    pull = pull --ff-only
        # various pretty loggers from various places
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lc = log ORIG_HEAD.. --stat --no-merges
    # from http://blog.kfish.org/2010/04/git-lola.html
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ll = log --graph --date=short
    # from https://git.wiki.kernel.org/index.php/Aliases
    whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
    whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    cm = commit -m
    #display all aliases
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    unstage = reset HEAD --
    last = log -l HEAD
    visual = !gitk
    po = push origin
    pod = push origin dev
[github]
    user = machinshin
    token = faf03543c81b5ee13885108ab3582c78
[core]
    trustctime = false
	excludesfile = /Users/VatRaghavan/.gitconfig_global
    editor = vim -f
	pager = cat
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[push]
    default = simple
[commit]
	template = /Users/VatRaghavan/.gitmessage.text
